.panorama.bar-chart {
  position: relative;

  svg {
    pointer-events: none;
  }

  svg.interactive {
    pointer-events: auto;
  }

  .bar {
    fill: steelblue;
  }

  svg.interactive .bar {
    cursor: pointer;
  }

  .bar:hover,
  .bar.selected {
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
}
