/* styles used only for laying out examples page */

html,
body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  width: 100%;
  margin-top: 100px;
  border-bottom: 1px solid rgb(215, 215, 215);
}
h2:first-of-type {
  margin-top: 20px;
}

.panorama.punchcard {
  width: 600px;
}