.panorama.offset-area-chart {
  position: relative;

  .area {
    fill-opacity: 0.25;
  }

  .lifespan, circle {
    opacity: 0.25;
  }

  circle {
    stroke: none;
  }

  .selected {
    .area {
      fill-opacity: 0.9;
    }

    .lifespan, circle {
      opacity: 0.9;
    }
  }
}
