.panorama.scatterplot {
  position: relative;

  svg {
    pointer-events: none;
  }

  svg.interactive {
    pointer-events: auto;
  }

  .dot {
    fill: #ff0099;
    opacity: 0.5;
  }

  svg.interactive .dot {
    cursor: pointer;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

}